// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	compatible = "Anlogic, DR1V90 FPSoc";
	model = "anlogic,dr1v90";

	cpus: cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		cpu0: cpu@0 {
			device_type = "cpu";
			reg = <0>;
			compatible = "riscv";
			riscv,isa = "rv64imafdc";
			mmu-type = "riscv,sv39";
			riscv,cbom-block-size = <64>;
			cpu0_intc: interrupt-controller {
				#interrupt-cells = <1>;
				interrupt-controller;
				compatible = "riscv,cpu-intc";
			};
		};
	};

	soc: soc {
		#address-cells = <2>;
		#size-cells = <2>;
		compatible = "anlogic,dr1v90", "simple-bus";
		ranges;

		plic0: interrupt-controller@6c000000 {
			#interrupt-cells = <1>;
			compatible = "riscv,plic0";
			interrupt-controller;
			riscv,ndev = <93>;
			interrupts-extended = <&cpu0_intc 11 &cpu0_intc 9>;
			reg = <0x0 0x6c000000 0x0 0x4000000>;
		};

		uart0: serial@F8400000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0xF8400000 0x0 0x1000>;
			interrupt-parent = <&plic0>;
			interrupts = <71>;
			reg-shift  = <2>;
			reg-io-width = <4>;
		};

		uart1: serial@F8401000 {
			compatible = "snps,dw-apb-uart";
			reg = <0x0 0xf8401000 0x0 0x1000>;
			interrupt-parent = <&plic0>;
			interrupts = <72>;
			reg-shift = <2>;
			reg-io-width = <4>;
		};

		fpga_mgr: fpga-mgr@F8082000 {
			compatible = "anlogic,dr1m90-pcap-fpga";
			reg = <0x00 0xF8801000 0x00 0x1000>;
		};

		base_fpga_region {
			#address-cells = <0x2>;
			#size-cells = <0x2>;

			compatible = "fpga-region";
			fpga-mgr = <&fpga_mgr>;
		};

		ipmscan0: can@0xF8408000 {
			compatible = "ipms,canfd";
			reg = <0x0 0xF8408000 0x0 0x1000>;
			interrupt-parent = <&plic0>;
			interrupts = <73>;
		};

		ipmscan1: can@0xF8409000 {
			compatible = "ipms,canfd";
			reg = <0x0 0xF8409000 0x0 0x1000>;
			interrupt-parent = <&plic0>;
			interrupts = <74>;
		};

		gpio0: gpio@f8411000 {
			compatible = "snps,dw-apb-gpio";
			interrupt-parent = <&plic0>;
			reg = <0x0 0xf8411000 0x0 0x0100>;
			#address-cells = <1>;
			#size-cells = <0>;

			porta: gpio-controller@0 {
				compatible = "snps,dw-apb-gpio-port";
				gpio-controller;
				#gpio-cells = <2>;
				snps,nr-gpios = <32>;
				reg = <0>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <53>;
			};
		};

		gpio1: gpio@f8411100 {
			compatible = "snps,dw-apb-gpio";
			interrupt-parent = <&plic0>;
			reg = <0x0 0xf8411100 0x0 0x0100>;
			#address-cells = <1>;
			#size-cells = <0>;

			portb: gpio-controller@0 {
				compatible = "snps,dw-apb-gpio-port";
				gpio-controller;
				#gpio-cells = <2>;
				snps,nr-gpios = <22>;
				reg = <0>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <54>;
			};
		};

		gpio2: gpio@f8411200 {
			compatible = "snps,dw-apb-gpio";
			interrupt-parent = <&plic0>;
			reg = <0x0 0xf8411200 0x0 0x0100>;
			#address-cells = <1>;
			#size-cells = <0>;

			portc: gpio-controller@0 {
				compatible = "snps,dw-apb-gpio-port";
				gpio-controller;
				#gpio-cells = <2>;
				snps,nr-gpios = <32>;
				reg = <0>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <55>;
			};
		};

		gpio3: gpio@f8411300 {
			compatible = "snps,dw-apb-gpio";
			interrupt-parent = <&plic0>;
			reg = <0x0 0xf8411300 0x0 0x0100>;
			#address-cells = <1>;
			#size-cells = <0>;

			portd: gpio-controller@0 {
				compatible = "snps,dw-apb-gpio-port";
				gpio-controller;
				#gpio-cells = <2>;
				snps,nr-gpios = <32>;
				reg = <0>;
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <56>;
			};
		};

		i2c0: i2c0@f8414000 {
			compatible = "snps,designware-i2c";
			interrupt-parent = <&plic0>;
			interrupts = <65>;
			reg = <0 0xF8414000 0 0x1000>;
			i2c-sda-hold-time-ns = <300>;
			i2c-sda-falling-time-ns = <300>;
			i2c-scl-falling-time-ns = <300>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		i2c1: i2c1@f8415000 {
			compatible = "snps,designware-i2c";
			interrupt-parent = <&plic0>;
			interrupts = <66>;
			reg = <0 0xF8415000 0 0x1000>;
			i2c-sda-hold-time-ns = <300>;
			i2c-sda-falling-time-ns = <300>;
			i2c-scl-falling-time-ns = <300>;
			#address-cells = <1>;
			#size-cells = <0>;
		};

		watchdog0: watchdog@f8410000 {
			compatible = "snps,dw-wdt";
			#address-cells = <2>;
			#size-cells = <2>;
			reg = <0x0 0xf8410000 0x0 0x100 0x0 0Xf8800168 0x0 0x20>;
			index = <0>;
			interrupts = <27>;
		};


		qspi0: spi@f804e000 {
			compatible = "anlogic,dr1x90-qspi";
			reg = <0x0 0xf804e000 0x0 0x1000>;
			#address-cells = <1>;
			#size-cells = <0>;
			interrupt-parent = <&plic0>;
			interrupts = <48>;
			num-cs = <1>;
		};

		spi0: spi@f8404000 {
			compatible = "snps,dw-apb-ssi";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x0 0xf8404000 0x0 0x1000>;
			interrupt-parent = <&plic0>;
			interrupts = <66>;
			num-cs = <1>;
		};

		spi1: spi@f8405000 {
			compatible = "snps,dw-apb-ssi";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x0 0xf8405000 0x0 0x1000>;
			interrupt-parent = <&plic0>;
			interrupts = <68>;
			num-cs = <1>;
		};

		ttc0: ttc0@f840c000 {
			compatible = "cdns,ttc";
			interrupt-parent = <&plic0>;
			interrupts = <29>, <30>, <31>;
			reg = <0x0 0xf840c000 0x0 0x1000>;
			timer-width = <32>;
		};

		ttc1: PWM1@f840d000 {
			compatible = "cdns,ttc";
			#pwm-cells = <3>;
			interrupt-parent = <&plic0>;
			interrupts = <32>, <33>, <34>;
			reg = <0x0 0xf840d000 0x0 0x1000>;
			timer-width = <32>;
		};

		sdhci0: mmc@f8049000 {
			compatible = "snps,dwcmshc-sdhci";
			reg = <0x0 0xf8049000 0x0 0x1000>;
			interrupt-parent = <&plic0>;
			interrupts = <63>;
		};
	};
};
