// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;
#include "anlogic-dr1v90.dtsi"

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/leds/common.h>

/ {
	chosen {
		bootargs = "earlycon=sbi console=ttyS0,115200";
	};

	aliases {
		serial0 = &uart1;
		ethernet0 = &eqos0;
		ethernet1 = &eqos1;
	};

	reserved_memory: reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,dma {
			compatible = "shared-dma-pool";
			reg = <0x0 0x10000000 0x0 0x01000000>;
			no-map;
			linux,dma-default;
		};

	};

	memory@0 {
		device_type = "memory";
		reg = <0x0 0x00000000 0x0 0x3fe00000>;
	};

	console {
		compatible = "sbi,console";
	};
};

&cpus {
	timebase-frequency =<600000000>;
};

&cpu0 {
	clock-frequency = <600000000>;
};

&soc {
	UART_CLK: UART_CLK {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <50000000>;
		clock-output-names = "UART_CLK";
	};

	CAN_CLK: CAN_CLK {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <80000000>;
		clock-output-names = "CAN_CLK";
	};

	GPIO_CLK: GPIO_CLK {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
		clock-output-names = "GPIO_CLK";
	};

	IIC_CLK: IIC_CLK {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <40000000>;
		clock-output-names = "IIC_CLK";
	};

	WDT_CLK: WDT_CLK {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <16666666>;
		clock-output-names = "WDT_CLK";
	};

	DWMMC_CIU_CLK: DWMMC_CIU_CLK {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <50000000>;
		clock-output-names = "DWMMC_CIU_CLK";
	};

	DWMMC_BIU_CLK: DWMMC_BIU_CLK {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <50000000>;
		clock-output-names = "DWMMC_BIU_CLK";
	};

	GBE_CLK: GBE_CLK {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
		clock-output-names = "GBE_CLK";
	};

	PHY_CLK: PHY_CLK {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <25000000>;
		clock-output-names = "PHY_CLK";
	};

	PTP_CLK: PTP_CLK {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <100000000>;
		clock-output-names = "PTP_CLK";
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";

		led1 {
			gpios = <&porta 14 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			status = "okay";
		};

		led2 {
			gpios = <&porta 13 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			status = "disabled";
		};

		led3 {
			gpios = <&porta 12 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			status = "disabled";
		};

	};

	keys {
		compatible = "gpio-keys";

		sw6 {
			gpios = <&porta 10 GPIO_ACTIVE_LOW>;
			linux,code = <103>;
			status = "okay";
		};
		sw8 {
			gpios = <&porta 11 GPIO_ACTIVE_HIGH>;
			linux,code = <108>;
			status = "okay";
		};
		sw5 {
			gpios = <&portc 0 GPIO_ACTIVE_HIGH>;
			linux,code = <108>;
			status = "okay";
		};

	};

	qspi_m_clk: qspi_m_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <200000000>;
		clock-output-names = "qspi_m_clk";
	};

	ttc_clk: ttc_clk {
		#clock-cells = <0>;
		compatible = "fixed-clock";
		clock-frequency = <200000000>;
		clock-output-names = "ttc_clk";
	};
};

&uart0 {
	clocks = <&UART_CLK>;
	clock-frequency = <50000000>;
	status = "disabled";
};

&uart1 {
	clocks = <&UART_CLK>;
	clock-frequency = <50000000>;
	status = "okay";
};

&ipmscan0 {
	clocks = <&CAN_CLK>;
	clock-names = "ipms_can_clk";
	status = "okay";
};

&ipmscan1 {
	clocks = <&CAN_CLK>;
	clock-names = "ipms_can_clk";
	status = "okay";
};

&i2c0 {
	clocks = <&IIC_CLK>;
	clock-names = "IIC_CLK";
	status = "okay";

	i2c-mux@74 {
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x74>;
		status = "okay";

		i2c@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			/*
			 * IIC_EEPROM 1kB memory which uses 256B blocks
			 * where every block has different address.
			 *    0 - 256B address 0x54
			 * 256B - 512B address 0x55
			 * 512B - 768B address 0x56
			 * 768B - 1024B address 0x57
			 */
			m24c08: eeprom@54 {
				compatible = "atmel,24c08";
				reg = <0x54>;
				pagesize = <16>;
				address-width = <8>;
				status = "okay";
			};
		};

		i2c@3 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			ds1337: rtc@68 {
				compatible = "dallas,ds1337";
				reg = <0x68>;
				trickle-resistor-ohms = <250>;
				status = "okay";
			};
		};

	};
};

&i2c1 {
	clocks = <&IIC_CLK>;
	clock-names = "IIC_CLK";
	status = "okay";
};

&watchdog0 {
	clocks = <&WDT_CLK>;
	status = "disabled";
};

&qspi0 {
	clocks = <&qspi_m_clk>;
	status = "okay";

	//spidev@0 {
	//	compatible = "rohm,dh2228fv";
	//	reg = <0>;
	//	spi-max-frequency = <8000000>;
	//};

	flash0: flash@0 {
		compatible = "jedec,spi-nor";
		label = "alspinor";
		reg = <0x0>;
		spi-tx-bus-width = <4>;
		spi-rx-bus-width = <4>;
		spi-max-frequency = <10000000>;
	};
	//num-cs = <2>;
	//cs-gpios = <&gpio0 13 0>,
	//<&gpio0 14 0>;
};

&spi0 {
	clocks = <&qspi_m_clk>;
	status = "okay";
	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <8000000>;
	};
};

&spi1 {
	clocks = <&qspi_m_clk>;
	status = "okay";
	spidev@0 {
		compatible = "rohm,dh2228fv";
		reg = <0>;
		spi-max-frequency = <8000000>;
	};
};

&ttc0 {
	clocks = <&ttc_clk>;
	status = "okay";
};

&ttc1 {
	clocks = <&ttc_clk>;
	status = "okay";
};

&sdhci0 {
	dma-noncoherent;
	clocks = <&DWMMC_CIU_CLK>, <&DWMMC_BIU_CLK>;
	clock-names = "core", "bus";
	max-frequency = <50000000>;
	sdhci-caps-mask = <0x00FF0000 0x0600FF00>;
	sdhci-caps = <0x10000 0x3200>;
	bus-width = <8>;
	non-removable;
	broken-cd;
	disable-wp;
	no-sdio;
	no-1-8-v;
	sdhci,auto-cmd12;
	status = "okay";
};

&eqos0 {
	clocks = <&GBE_CLK>,<&PHY_CLK>,<&PTP_CLK>;
	clock-names = "apb_pclk","phy_ref_clk","ptp_ref";
	phy-handle = <&eth_phy0>;
	status = "okay";
};

&eth_phy0 {
	/* Realtek RTL8211F (0x001cc916) */
	status = "okay";
};

&eth_phy1 {
	/* Motorcomm YT8531 (0x4f51e91b) */
	status = "disabled";
};

&eqos1 {
	clocks = <&GBE_CLK>,<&PHY_CLK>,<&PTP_CLK>;
	clock-names = "apb_pclk","phy_ref_clk","ptp_ref";
	phy-handle = <&eth_phy2>;
	status = "disabled";
};

&eth_phy2 {
	/* Realtek RTL8211F (0x001cc916) */
	status = "disabled";
};

&eth_phy3 {
	/* Motorcomm YT8531 (0x4f51e91b) */
	status = "disabled";
};

&usb_otg0 {
	dr_mode = "host";
	g-np-tx-fifo-size = <32>;
	g-rx-fifo-size = <768>;
	g-tx-fifo-size = <768 512 512 32 16 16 16 16 16 16>;
	g-use-dma;
	status = "okay";
};
