// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

/dts-v1/;
#include "anlogic-dr1m90-evb.dts"

&eqos0 {
	phy-handle = <&eth_phy1>;
	status = "okay";
};

&eth_phy0 {
	/* Realtek RTL8211F (0x001cc916) */
	status = "disabled";
};

&eth_phy1 {
	/* Motorcomm YT8531 (0x4f51e91b) */
	status = "okay";
};
